* {
    box-sizing: border-box;
}

body {
    background: rgb(41, 40, 40);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

input[type="text"]:focus {
    outline: 0;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

button#search {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    right: 30px;
    background-color: rgb(196, 196, 196);
}

button#search:hover {
    background-color: #aaa;
    transition: all 0.3s;
}

button#random {
    border-radius: 3px;
    position: relative;
    left: 215px;
    bottom: 36px;
    background: rgb(238, 207, 151);
}

button#random:hover {
    background: rgb(231, 186, 101);
    transition: all 0.3s;
}

#results {
    display: flex;
    width: 80%;
    margin: 80px auto;
    flex-wrap: wrap;
}

.meals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meal {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border: 4px solid #fff;
}

.meal img {
    width: 100%;
}

.meal h3 {
    position: relative;
    bottom: 130px;
    visibility: hidden;
}

.meal:hover img {
    opacity: 0.6;
    transition: all 0.3s;
}

.meal:hover h3 {
    visibility: visible;
}

ul li {
    margin: 10px 0;
}